# Large imagery & model files

*.tiff
*.keras
*.h5
*.pt
*.ckpt
*.pb

# data folders
data/
models/
checkpoints/

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
